/*********** GLOBAL CLASS STYLES ***********/

body{
    background: $white;
    margin: 0;
    padding: 0;
    font-family: arial;
}
.hidden{
    display: none;
    padding: 5px 2%;
}
.full-width{
    width: 100%;
    img{
        width: 100%;
    }
}
.read-more{
    line-height: 24px;
}
.gray{
    background-color: $gray;
}
.field-label{
    display: none;
}

/*********** GLOBAL TEXT STYLES ***********/

h1{
    font-size: 32px;
    line-height: 38px;
    margin: 15px 0;
    padding: 0;
    font-weight: bold;
    &.page-title{
        margin: 20px 5%;
        display: block;
        p{
            font-size: 32px;
            line-height: 38px;
            padding: 0;
            font-weight: bold;
        }
    }
    &.subtitle{
        display: inline;
    }
}
h2{
    font-size: 24px;
    line-height: 28px;
    margin: 25px 0;
    padding: 0;
    &.teaser-category{
        margin: 0 7%;
    }
    &.hr-category{
        margin: 0 5%;
    }
    &#press-date{
        margin: 25px 5%;
    }
}
h3{
    font-size: 21px;
    line-height: 26px;
    margin: 15px 0;
    font-weight: normal;
    padding: 0;
}
h4{
    font-size: 18px;
    line-height: 22px;
    margin: 15px 0;
    padding: 0;
}     
h5{
    font-size: 12px;
    margin: 5px 0;
    font-weight: lighter;
    padding: 0;
}
p{
    margin: 15px 0;
    font-size: 16px;
    line-height: 24px;
    padding: 0;
}


/*********** GLOBAL LINK STYLES ***********/

a{
    color: $primaryColor;
    font-weight: bold;
    text-size: 16px;
    img{
        border: 0;
    }
    &:hover{
        color: $secondaryColor;
        text-decoration: none;
    }
    /* bordered call to action */
    &.border-cta{
        padding: 6px 12px;
        border: 1px solid $primaryColor;
        text-decoration: none;
        &:hover{
            color: $secondaryColor;
            border: 1px solid $secondaryColor;
        }
    }
    /* solid call to action */
    &.solid-cta{
        color: $white;
        background-color: $secondaryColor;
        padding: 7px 13px;
        text-decoration: none;
        &:hover{
            background-color: $primaryColor;
            color: $white;
        }
    }
    /* unbolded, light link */
    &.light{
        font-weight: normal;
    }
}


/*********** GLOBAL PAGE CONTENT STYLES ***********/

.field-collection-container{
    margin: 0;
    border: 0px;
}

#page-content{
    clear: both;
    overflow: hidden;
    display: block;
    .cta{
        padding: 15px 0
    }
    /* stand-alone h2 */
    .page-subtitle{
        width: 90%;
        padding: 0px 5%;
    }
    /* image, floating right */
    .float-right{
        float: right;
        width: 40%;
        max-width: 350px;
        margin: 0px 0 15px 2%;
        img{
            width: 100%;
        }
    }
    /* image, floating left */
    .float-left{
        float: left;
        width: 40%;
        max-width: 350px;
        margin: 0px 2% 15px 0;
        img{
            width: 100%;
        }
    }
    /* photo credit */
    .photo-credit{
        position: inherit;
        color: $lightGray;
        padding: 0;
        margin: 0;
        text-align: right;
        margin: -27px 2% 0 0;
        font-size: 12px;
    }
    /* content section */
    .sub-section{
        position: relative;
        display: block;
        width: 90%;
        padding: 5px 5%;
        clear: both;
        overflow: hidden;
        &:first-child{
            padding: 0px 5% 30px 5%;
        }
        &.gray{
            &:first-child{
                margin: 20px 0 0 0;
                padding: 30px 5%;
            }
        }
        #promotions{
            width: 100%;
            padding: 0;
            margin: 0;
            li{
                width: 21%;
                margin: 15px 2%;
                float: left;
                position: relative;
                display: block;
            }
        }
        &#recent-news{
            #all-news{
                float: right;
            }
            ul{
                margin: 40px 0;
                padding: 0;
                width: 100%;
                clear: both;
                overflow: hidden;
                li{
                    margin: 10px 2%;
                    width: 46%;
                    min-height: 100px;
                    float: left;
                    clear: none;
                    h3{
                        margin: 0;
                        font-size: 18px;
                        line-height: 18px;
                    }
                    p{
                        margin: 5px 0;
                        span.date{
                            color: #888;
                            font-size: 14px;
                            font-weight: normal;
                        }
                    }
                    img{
                        width: 30%;
                        margin: 0 3% 0 0;
                    }
                    a{
                        color: #000;
                        text-decoration: none;
                        &:hover{
                            color: $primaryColor;
                        }
                    }
                }
            }
        }
        &#home-callout{
            margin: 30px 0;
            padding: 40px 5%;
            h2{
                margin: 10px 0 0 0;
            }
            img{
                width: 30%;
                min-width: 200px;
                height: auto;
                float: left;
                margin: 0 4% 10px 0;
            }
            a{
                margin: 10px 0;
                color: $white;
                background-color: $secondaryColor;
                padding: 7px 13px;
                text-decoration: none;
                &:hover{
                    background-color: $primaryColor;
                    color: $white;
                }
            }
        }
    }
    /* two column content */
    .two-column{
        padding: 0px 4% 15px 0;
        margin: 0;
        overflow: hidden;
        display: block;
        float: left;
        display: block;
        width: 46%;
        overflow: hidden;
        img{
            width: 100%;
        }
    }
    /* three column content */
    .three-column{
        float: left;
        display: block;
        width: 31%;
        padding: 15px 2% 15px 0;
        img{
            width: 100%;
        }
    }
    /* offering description */
    .offering-description{
        float: left;
        width: 60%;
        margin: 40px 0 40px 5%;
        .page-title{
            margin: 20px 0;
            display: inline;
        }
    }
    /* offering details box */
    .offering-details{
        float: left;
        width: 20%;
        padding: 40px 2.5%;
        margin: 60px 5%;
        h3{
            margin: 0;
            padding: 0;
            color: $darkGray;
        }
        p{
            margin: 0;
            &.title{
                padding: 20px 0 0 0;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
        small{
            padding: 15px 0;
            display: block;
        }
        #social-share{
            margin: 20px 0 0 0;
            div{
                display: table-cell;
                vertical-align: middle;
                padding: 0 10px 0 0;
            }
        }
    }
    /* press assets */
    .press-assets{
        margin: 40px 5%;
        h3{
            &:first-child{
                margin: 0 0 15px 0;
            }
        }
        .asset-credit{
            font-size: 11px;
            line-height: 13px;
        }
        .asset-description{
            font-size: 14px;
            line-height: 18px;
        }
        .floating{
            li{
                &:nth-child(4n+5){
                    clear: left;
                }
            }
        }
    }
    /* form messaging */
    .submitted{
        display: none;
    }
    .webform-confirmation, .links{
        margin: 40px 5%;
    }

    /* unordered list */
    ul{
        li{
            list-style: outside url('../img/icons/bullet.png');
            line-height: 17px;
            margin: 8px 0;
        }
        &.content-list{
            display: block;
            margin: 0;
            padding: 0;
            li{
                display: block;
            }
            &#winners{
                margin: 5px 2%;
                li{
                    margin: 25px 0;
                    h3{
                        font-weight: bold;
                        display: inline;
                        margin: 0;
                        padding: 0;
                    }
                    p{
                        margin: 8px 0;
                        padding: 0;
                        display: block;
                    }
                }
            }
        }
        &#news{
            margin: 40px 0;
            padding: 0;
            li{
                margin: 20px 0;
                list-style: none;
                clear: both;
                overflow: hidden;
                h3{
                    font-size: 21px;
                    line-height: 23px;
                }
                p{
                    font-size: 16px;
                    line-height: 19px;
                    span.date{
                        font-weight: bold;
                    }
                    span.snippet{
                        font-style: italic;
                    }
                    a{
                        font-weight: normal;
                    }
                }
                img{
                    float: left;
                    width: 18%;
                    min-width: 120px;
                    margin: 0 2% 5px 0;
                }
            }
        }
        /* press releases list */
        &.press-releases{
            padding: 0;
            margin: 0;
            li{
                margin: 40px 10%;
                padding: 0;
                font-size: 21px;
                line-height: 26px;
                font-weight: bold;
                a{
                    margin-top: 5px;
                    display: block;
                    font-weight: normal;
                }
            }
        }
        /* sponsor logos */
        &.floating{
            overflow: hidden;
            display: block;
            margin: 15px 0;
            padding: 0;
            li{
                float: left;
                list-style-type: none;
                display: block;
                padding: 0 3% 0 0;
                width: 22%;
                min-width: 120px;
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    /* form styles */
    form{
        margin: 50px 0 0 50px;
        h5{
            color: $gray;
            margin: 0 0 0 25px;
        }
        textarea{
            width: 400px;
            height: 150px;
            line-height: 18px;
        }
        input{
            -webkit-appearance: none;
            -webkit-border-radius:0; 
            border-radius:0;
        }
        .button{
            color: $primaryColor;
            font-weight: bold;
            font-size: 16px;
            padding: 6px 12px;
            margin: 20px 0;
            height: 40px;
            width: 225px;
            border: 1px solid $primaryColor;
            text-decoration: none;
            background-color: white;
            &:hover{
                color: $secondaryColor;
                border: 1px solid $secondaryColor;
            }
        }
        &#webform-client-form-95583{
            margin: 40px 5%;
            input{
                -webkit-appearance: none;
                -webkit-border-radius:0; 
                border-radius:0;
                min-width: 25%;
                min-width: 300px;
                height: 30px;
                font-size: 14px;
                vertical-align: center;
                margin: 0;
                padding: 0 2.5%;
                &.form-submit{
                    width: 6%;
                    min-width: 80px;
                    height: 33px;
                    border: 1px solid $primaryColor;
                    padding: 0;
                    background-color: $white;
                    text-transform: none;
                    font-size: 14px;
                    font-weight: bold;
                    color: $primaryColor;
                    text-align: center;
                    cursor: pointer;
                    &:hover{
                        color: $secondaryColor;
                        border: 1px solid $secondaryColor;
                    }
                }
            }
        }
        input:hover, textarea:hover, input:focus, textarea:focus{
            border-color: 3px solid $gray;
        }
    } 
    /* COMMENT CARD STYLES */
    #node-95575{
        h2, .submitted{
            display: none;
        }
        form{
            fieldset{
                width: 85%;
                margin: 0 5%;
            }
            .webform-calendar{
                width: auto;
            }
            .form-actions{
                margin: 20px 5%;
            }
        }
    }
    /* VOLUNTEER VIEW STYLES */
    .view-hr-opportunities{
        margin: 0 5%;
        .views-field-title{
            padding: 15px 0;
        }
    }
}



/*********** LARGE SCREEN & MONITOR STYLES ***********/
@media only screen and (min-width:1700px){
    html{
        background: $lightGray;
        body{
            width: 80%;
            margin: 0 auto;
            position: relative;
            max-width: 1700px;
        }
    }
}




/*********** TABLET & MOBILE STYLES ***********/

@media only screen and (max-width: 1000px){
    #page-content{
        .sub-section{
            #promotions{
                li{
                    width: 31%;
                    margin: 20px 1%;
                    padding: 0;
                    &:last-child{
                        display: none;
                    }
                    /* photo offering teaser */
                    &.photo-promo{
                        .teaser-description, .callout{
                            display: block;
                        }
                    }
                }
            }
        }
        .offering-description{
            width: 48%;
        }
        .offering-details{
            width: 32%;
        }
    }
}
                
@media only screen and (max-width: 700px){
    /* page content styles */
    #page-content{
        .float-right, .float-left{
            float: none;
            width: 100%;
            padding: 0;
            margin: 0;
            max-width: none;
        }
        .press-assets{
            .floating{
                li{
                    padding: 5px 5%;
                    width: 90%;
                }
            }
        }
        ul{
            margin: 0px 0;
            &.floating{
                li{
                    padding: 5px 20%;
                    width: 60%;
                    min-width: 0;
                    float: none;
                    text-align: left;
                }
            }
            &#news{
                h3{
                    margin: 0;
                }
            }
        }
        /* content section */
        .sub-section{
            padding: 0px 5%;
            width: 90%;
            #promotions{
                li{
                    width: 46%;
                    margin: 5px 2%;
                    padding: 0;
                    /* photo offering teaser */
                    &.photo-promo{
                        .teaser-description, .callout{
                            display: block;
                        }
                    }
                    &:last-child{
                        display: block;
                    }
                }
            }
            &#recent-news{
                ul{
                    margin: 0;
                    li{
                        float: none;
                        width: 96%;
                        margin: 20px 2%;
                        min-height: 0;
                        h3{
                            font-size: 16px;
                            line-height: 18px;
                        }
                        img{
                            margin: 0 10px 10px 0;
                        }
                    }
                }
            }
            /* two column content */
            .two-column{
                width: 100%;
                float: none;
                padding: 10px 0;
                display: block;
                &:first-child{
                    margin-top: -20px;
                }
            }
            /* three column content */
            .three-column{
                width: 100%;
                padding: 10px 0;
                float: none;
                display: block;
            }
            &#home-callout{
                margin: 20px 0;
                padding: 40px 5%;
                h2{
                    margin: 0;
                }
                img{
                    width: 50%;
                    min-width: 0;
                    margin: 0 5% 15px 0;
                }
            }
        }

        /* offering content */
        .offering-description{
            width: 90%;
            float: none;
            margin: 20px 5% 0 5%;
        }
        .offering-details{
            width: 80%;
            margin: 0 0 20px 0;
            padding: 20px 5%;
            float: none;
            background: $white;
        }

        /* form styles */
        form{
            margin: 0;
            input, textarea{
                padding: 10px;
                margin: 10px;
                border: 1px solid $gray;
                width: 200px;
            }
        }
    } /* end page content */
}
        