/* mos red */
$primaryColor: #ff0000;

/* mos blue */
$secondaryColor: #007dfd;

/* black */
$black: #000000;

/* white */
$white: #ffffff;

/* gray */
$gray: #dcdcdc;

/* light gray */
$lightGray: #ececec;

/* dark gray */
$darkGray: #545454;